<h1 class="title">Delete event</h1>

<h2>Are you sure you want to delete the event
	<em>{{event.name}}</em>?</h2>

<form method="POST">
	<div class="field">
		<div class="control">
			<input class="button is-danger is-link" type="submit" value="Delete">
		</div>
	</div>
</form>