<!DOCTYPE html>
<html>

<head>
  {{# if title}}
  <title>{{title}} - Basser Calendar</title>
  {{else}}
  <title>Basser Calendar</title>
  {{/if}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css' />
  <link rel='stylesheet' href='/stylesheets/bulma-calendar.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js">
  </script>
</head>

<body>
  <div class="navbar is-primary">
    <div class="navbar-brand">
      <a href="/" class="navbar-item" style="font-weight:bold">BasserCal</a>
      <a href="/" class="navbar-item">Week</a>
      <a href="/calendar" class="navbar-item">Month</a>
    </div>

  </div>
  <section class="section">
    <div class="container">
      {{{body}}}
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>Created by
          <a href="https://cadelwatson.com">Cadel Watson</a> for Basser College. Please buy me Tim-Tams.</p>
      </div>
    </div>
  </footer>
</body>

</html>