<h1>Login</h1>
<form method="POST">
	<p>Name</p>
	<input type="text" id="username" name="username">
	<p>Password</p>
	<input type="password" id="password" name="password">
	<input type="submit">
</form>