@media (max-width: 768px) {
  .calendar .calendar-header {
    display: none;
  }

  .calendar-body {
    flex-direction: column;
  }

  .calendar .calendar-header .calendar-date, .calendar .calendar-body .calendar-date {
    max-width: 100%;
  }

  .weekday {
    display: inline !important;
  }

  .calendar.is-large .date-item {
    align-self: flex-start;
  }
}

.weekday {
  display: none;
}